{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.pitch) }}

    <button name="nominate" class="btn">{{ button_label|default('Nominate') }}</button>
{{ form_end(form) }}
