{% extends 'base.html.twig' %}

{% block title %}Nominations{% endblock %}

{% block body %}
    <h1>Nominations</h1>

    <a class="nominate" href="{{ path('nomination_new') }}">Nominate Additional Charity</a>

    <table id="nominations" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pitch</th>
                <th>Created_at</th>
                <th>YES</th>
                <th>NO</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nomination in nominations %}
            <tr>
                <td class="name">{{ nomination.0.name }}</td>
                <td>{{ nomination.0.pitch }}</td>
                <td>{{ nomination.0.createdAt ? nomination.0.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="yes_votes">
                    {{ include('nomination/_vote_yes_button.html.twig') }}
                </td>
                <td class="no_votes">
                    {{ include('nomination/_vote_no_button.html.twig') }}
                </td>
                <td>
                    <a href="{{ path('nomination_show', {'id': nomination.0.id}) }}">show</a>
                    <a href="{{ path('nomination_edit', {'id': nomination.0.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
