{% extends 'base.html.twig' %}

{% block title %}Nominations{% endblock %}
{% block pageId %}nominations{% endblock %}

{% block body %}
    <header>
        <h1>Nominations</h1>
        <div>
            for
            <select id="month">
                <option SELECTED>{{month}}</option>
            </select>
            <select id="year">
                <option SELECTED>{{year}}</option>
            </select>
        </div>
    </header>

    <a class="nominate" href="{{ path('nomination_new') }}">Nominate a Charity</a>

    <table id="nominations" class="table">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th>YES</th>
                <th>NO</th>
                <th>Allocation</th>
            </tr>
        </thead>
        <tbody>
        {% for nomination in nominations %}
            <tr>
                <td class="name">
                    <a href="/nomination/{{nomination.id}}">
                        {{ nomination.name }}
                    </a>
                    <div class="nomination-date">
                        Nominated {{ nomination.createdAt ? nomination.createdAt|date('Y-m-d H:i') : '' }}
                    </div>
                </td>
                <td class="yes_votes">
                    {% if nomination.current %}
                        {{ include('nomination/_vote_yes_button.html.twig') }}
                    {% else %}
                        <span id="vote-{{nomination.id}}-yes" class="vote-yes">{{ nomination.yesCount }}</span>
                    {% endif %}
                </td>
                <td class="no_votes">
                    {% if nomination.current %}
                        {{ include('nomination/_vote_no_button.html.twig') }}
                    {% else %}
                        <span id="vote-{{nomination.id}}-no" class="vote-no">{{ nomination.noCount }}</span>
                    {% endif %}
                </td>
                <td class="allocation">
                    {{ nomination.percentage/100 }}%
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="empty" colspan="6">No nominations found for {{ month }} {{ year }}.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
