{% extends 'base.html.twig' %}

{% block title %}Nomination{% endblock %}

{% block body %}
    <h1>Nomination for {{ nomination.name }}</h1>

    <div class="pitch">
        {{ nomination.pitch }}
    </div>

    <div class="details">
        Proposed
        <span>{{ nomination.createdAt ? nomination.createdAt|date('Y-m-d H:i') : '' }}</span>
        by
        <span>{{ nomination.member.nickname }}</span>
    </div>

    <div id="comments">
        {{ include('comment/_form.html.twig') }}

        {% for comment in nomination.comments %}
            <div class="comment">
                <div class="comment-text">{{comment.commentText}}</div>
                <div class="details">
                    <span>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</span>
                    by
                    <span>{{ comment.member.nickname }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav>
    <a href="{{ path('nomination_index', {'month': nomination.month, 'year': nomination.year}) }}">back to list</a>
    </nav>
{% endblock %}
