{% extends 'base.html.twig' %}

{% block title %}Nomination{% endblock %}

{% block body %}
    <h1>Nomination</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nomination.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ nomination.name }}</td>
            </tr>
            <tr>
                <th>Pitch</th>
                <td>{{ nomination.pitch }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ nomination.createdAt ? nomination.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ nomination.updatedAt ? nomination.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nomination_index') }}">back to list</a>

    <a href="{{ path('nomination_edit', {'id': nomination.id}) }}">edit</a>

    {{ include('nomination/_delete_form.html.twig') }}
{% endblock %}
